<!-- <p>header works!</p>

<input [type]="tp" [disabled]="false" value="Sanjay" bind-id="name">

<button (click)="name='Sanjay'">Click</button>

{{ name }}

<h3>Condition :-</h3>
<p *ngIf="tp === 'number';else fallback">True</p>

<ng-template #fallback>
    <p>False</p>
</ng-template>

<p *ngFor="let item of list; even as i">
    {{ i }} - {{item}}
</p>

<br>

<div [ngSwitch]="cap">
    <div *ngSwitchCase="'Monkey.D.Luffy'"><h3>{{ cap }}</h3></div>
    <div *ngSwitchDefault><h2>nothing happened</h2></div>
</div>

 -->


 <div>
    <p>header component : {{ change }}</p>
    <ng-content></ng-content>
 </div>
