.primary {
    color: red;
  }
  .secondary {
    color: green;
  }
   
  .big {
    font-size: 30px;
  }
   
  .small {
    font-size: 20px;
  }
   
  .italics {
    font-style: italic;
  }
   
  .is-active {
    font-weight: bolder;
  }
  .section {
    margin: 10px;
  }


div{
  border: 2px solid darkgray;
  background-color: gainsboro;
  padding: 30px;
  text-align: center;
  margin-bottom: 50px;
}
input,button{
  font-size: 25px;
  margin-right: 10px;
}


table{
  border: 2px solid darkgrey;
  border-collapse: collapse;
  width: 100%;
  font-size: 23px;
}
tr,td{
  border: 5px solid lightgrey;
  border-collapse: collapse;
  padding: 10px;
  background-color: lightcyan;
}