<!-- <p [class]="true">Sanjay</p>
<p>from app module</p>
<span setBgClr>Zoro</span>
<h3>Pipe : <span style="color: green;">{{ mark | custom: totalmark}}</span></h3>
<app-users2/>
<br>
<hr>
<br>
@defer {
    <app-header/>
}@loading (after 0.0000001ms; minimum 10s){
    <p>Loading....</p>
}
<br>
<hr>
<br>
<app-users1><p>Hi User 1</p></app-users1>
<br>
<hr>
<br> -->


<div>
    <input type="text" #myVar>
    <button (click)="onShow(myVar)">Click It</button>
    <app-header [change]="show" *ngIf="shoeDiv">
        <h4>Hello World!!!</h4>
    </app-header>
    <br><br>
    <button (click)="onDestroy()">Destroy</button>
</div>